<p class="text-justify">
    Veuillez lire attentivement ces conditions d&#39;utilisation avant d&#39;accéder ou
    d&#39;utiliser notre site Web. En accédant à ou en utilisant une partie du site,
    vous acceptez d&#39;être lié par les présentes conditions d&#39;utilisation. Si vous
    n&#39;acceptez pas tous les termes et conditions de cet accord, vous ne
    pouvez pas accéder au site web ni utiliser aucun service. Si ces
    conditions d&#39;utilisation sont considérées comme une offre, l&#39;acceptation
    est expressément limitée à ces conditions d&#39;utilisation.
</p>

<p class="text-justify">
    Toute nouvelle fonctionnalité ou tout nouvel outil ajouté au site actuel
    sera également soumis aux Conditions d&#39;utilisation. Nous nous
    réservons le droit de mettre à jour, de modifier ou de remplacer toute
    partie de ces Conditions d&#39;utilisation en publiant des mises à jour et / ou
    des modifications sur notre site Web. Il est de votre responsabilité de
    vérifier régulièrement cette page pour voir si des modifications ont été
    apportées. Votre utilisation continue du site Web ou votre accès à celui-
    ci après la publication de toute modification constitue une acceptation de
    ces modifications.
</p>
<h2>SECTION 1 - TERMES DE LA BOUTIQUE EN LIGNE</h2>
<p class="text-justify">

    En acceptant les présentes conditions d&#39;utilisation, vous déclarez que
    vous avez au moins l&#39;âge de la majorité dans votre État ou province de
    résidence et que vous nous avez donné votre consentement.
    Vous ne pouvez pas utiliser nos produits à des fins illégales ou non
    autorisées, et vous ne pouvez pas non plus violer les lois en vigueur
    dans votre pays (y compris, mais sans s&#39;y limiter, les lois sur le droit
    d&#39;auteur).
    Vous ne devez transmettre aucun ver, virus ou code de nature
    destructive.
    Une violation de l&#39;une des Conditions entraînera une résiliation
    immédiate de vos Services.
</p>
<h2>SECTION 2 - CONDITIONS GÉNÉRALES</h2>
<p class="text-justify">
    Nous nous réservons le droit de refuser le service à qui que ce soit pour
    quelque raison que ce soit et à tout moment.
    Vous comprenez que votre contenu (à l&#39;exclusion des informations de
    carte de crédit) peut être transféré sans chiffrement et impliquer des
    transmissions sur divers réseaux; et des modifications pour se conformer
    et s&#39;adapter aux exigences techniques de la connexion de réseaux ou de
    dispositifs. Les informations de carte de crédit sont toujours cryptées lors
    du transfert sur les réseaux.
</p>
<p class="text-justify">

    Vous acceptez de ne pas reproduire, dupliquer, copier, vendre, revendre
    ou exploiter une partie du service, l&#39;utilisation du service, l&#39;accès au
    service ou tout contact sur le site Web via lequel le service est fourni,
    sans autorisation écrite expresse de notre part. .
    Les en-têtes utilisés dans cet accord sont inclus à des fins de commodité
    uniquement et ne limiteront pas ou n&#39;affecteront pas ces Conditions.
</p>
<h2>SECTION 3 - EXACTITUDE, INTÉGRALITÉ ET TEMPS D&#39;INFORMATION</h2>
<p class="text-justify">
    Nous ne sommes pas responsables si les informations mises à
    disposition sur ce site sont inexactes, complètes ou à jour. Le contenu
    de ce site est fourni à titre d&#39;information générale uniquement et ne doit
    en aucun cas être utilisé pour prendre des décisions sans consulter les
    sources d&#39;informations principales, plus précises, plus complètes ou plus
    à jour. Toute confiance dans le contenu de ce site est à vos risques et
    périls.
</p>
<p class="text-justify">
    Ce site peut contenir certaines informations historiques. L&#39;information
    historique, nécessairement, n&#39;est pas à jour et est fournie à titre de
    référence seulement. Nous nous réservons le droit de modifier le
    contenu de ce site à tout moment, mais nous n&#39;avons aucune obligation
    de mettre à jour les informations de notre site. Vous acceptez qu&#39;il vous
    incombe de surveiller les modifications apportées à notre site.
</p>
<h2>SECTION 4 - MODIFICATIONS DU SERVICE ET DES PRIX</h2>
<p class="text-justify">
    Les prix de nos produits sont sujets à changement sans préavis.
    Nous nous réservons le droit à tout moment de modifier ou d&#39;interrompre
    le service (ou toute partie ou contenu de celui-ci) sans préavis et à tout
    moment.
    Nous ne serons pas responsables envers vous ou tout tiers pour toute
    modification, changement de prix, suspension ou interruption du Service.
</p>

<h2>SECTION 5 - PRODUITS OU SERVICES (le cas échéant)</h2>
<p class="text-justify">
    Certains produits ou services peuvent être disponibles exclusivement en
    ligne sur le site Web. Ces produits ou services peuvent avoir des
    quantités limitées et sont sujets au retour ou à l&#39;échange uniquement
    conformément à notre politique de retour.
</p>
<p class="text-justify">
    Nous nous réservons le droit, sans toutefois y être obligés, de limiter les
    ventes de nos produits ou services à toute personne, région
    géographique ou juridiction. Nous pouvons exercer ce droit au cas par
    cas. Nous nous réservons le droit de limiter les quantités de tout produit
    ou service que nous proposons. Toutes les descriptions de produits ou
    les prix des produits peuvent être modifiés à tout moment et sans
    préavis, à notre seule discrétion. Nous nous réservons le droit
    d&#39;interrompre tout produit à tout moment. Toute offre de produit ou de
    service faite sur ce site est nulle là où interdite.
    Nous ne garantissons pas que la qualité des produits, services,
    informations ou autre matériel acheté ou obtenu par vous satisfera à vos
    attentes, ni que toute erreur dans le service soit corrigée.
</p>
<h2>
    SECTION 6 - EXACTITUDE DE LA FACTURATION ET DES
    INFORMATIONS SUR LES COMPTES
</h2>
<p class="text-justify">
    Nous nous réservons le droit de refuser toute commande que vous
    passez avec nous. Nous pouvons, à notre entière discrétion, limiter ou
    annuler les quantités achetées par personne, ou par commande. Ces
    restrictions peuvent inclure des commandes passées par ou sous le
    même compte client, la même carte de crédit et / ou des commandes
    utilisant la même adresse de facturation et / ou d&#39;expédition. Si nous
    modifions ou annulons une commande, nous pouvons tenter de vous en
    informer en contactant l&#39;adresse électronique et / ou l&#39;adresse de
    facturation / le numéro de téléphone fourni au moment de la passation
    de la commande. Nous nous réservons le droit de limiter ou d&#39;interdire
    les commandes qui, à notre seul jugement, semblent avoir été passées
    par des revendeurs, ou des distributeurs. Vous acceptez de fournir des
    informations d&#39;achat, de comptes actuels et complets et exacts pour tous
    les achats effectués dans notre magasin. Vous acceptez de mettre à jour
    rapidement votre compte et d&#39;autres informations, y compris votre
    adresse électronique, vos numéros de carte de crédit et vos dates
    d&#39;expiration, afin que nous puissions effectuer vos transactions et vous
    contacter au besoin.
</p>
<h2>SECTION 7 - OUTILS FACULTATIFS</h2>
<p class="text-justify">
    Nous pouvons vous fournir un accès à des outils tiers sur lesquels nous
    ne contrôlons ni ne contrôlons ni n’intervenons. Vous reconnaissez et
    acceptez que nous donnons accès à de tels outils &quot;tels quels&quot; et &quot;tels
    que disponibles&quot; sans aucune garantie, représentation ou condition de
    quelque nature que ce soit et sans aucune approbation. Nous déclinons
    toute responsabilité en ce qui concerne votre utilisation des outils tiers
    optionnels. Toute utilisation par vous des outils facultatifs proposés sur le
    site est entièrement à vos risques et périls et vous devez vous assurer
    que vous connaissez et approuvez les conditions d&#39;utilisation des outils
    fournis par le ou les fournisseurs tiers concernés. Nous pouvons
    également, à l&#39;avenir, proposer de nouveaux services et / ou
    fonctionnalités via le site Web (y compris la publication de nouveaux
    outils et ressources). Ces nouvelles fonctionnalités et / ou services sont
    également soumis aux présentes Conditions d&#39;utilisation.
</p>
<h2>SECTION 8 - LIENS DE TIERS</h2>
<p class="text-justify">
    Certains contenus, produits et services disponibles via notre service peuvent inclure
    des éléments provenant de tiers. Les liens de tiers sur ce site peuvent vous diriger
    vers des sites Web de tiers non affiliés à nous. Nous ne sommes pas responsables
    d&#39;examiner ou d&#39;évaluer le contenu ou l&#39;exactitude et nous ne garantissons et
    n&#39;assumerons aucune responsabilité pour tout matériel ou site Web tiers, ni pour tout
    autre matériel, produit ou service de tiers. Nous ne sommes pas responsables des
    dommages ou préjudices liés à l&#39;achat ou à l&#39;utilisation de biens, services,
    ressources, contenus ou autres transactions effectuées en relation avec des sites
    Web tiers. Veuillez examiner attentivement les politiques et les pratiques du tiers et
    vous assurer de les comprendre avant de vous engager dans une transaction. Les
    plaintes, réclamations, préoccupations ou questions concernant des produits tiers
    doivent être adressées à cette dernière.
</p>
<h2>SECTION 9 - COMMENTAIRES DES UTILISATEURS, RÉTROACTION ET
    AUTRES SOUMISSIONS</h2>
<p class="text-justify">
    Si, à notre demande, vous envoyez certaines contributions spécifiques (par exemple,
    des participations à des concours) ou si nous n&#39;en faisons pas la demande, vous
    envoyez des idées créatives, des suggestions, des propositions, des plans ou
    d&#39;autres supports, que ce soit en ligne, par courrier électronique, par courrier postal
    ou autrement. (collectivement, «commentaires»), vous acceptez que nous puissions,
    à tout moment, sans restriction, éditer, copier, publier, distribuer, traduire et utiliser
    de quelque manière que ce soit tout commentaire que vous nous transmettez. Nous
    ne sommes et ne serons nullement obligés de garder vos commentaires
    confidentiels; de verser une compensation pour tout commentaire; ou pour répondre
    à tout commentaire. Nous pouvons, mais n&#39;avons aucune obligation de, contrôler,
    éditer ou supprimer du contenu que nous considérons à notre seule discrétion
    comme étant illégal, offensant, menaçant, diffamatoire, pornographique, obscène ou
    autrement répréhensible ou violant la propriété intellectuelle de toute partie ou les
    présentes Conditions d&#39;utilisation. . Vous acceptez que vos commentaires ne violent
    aucun droit d&#39;un tiers, y compris le droit d&#39;auteur, la marque de commerce, la
    confidentialité, la personnalité ou tout autre droit personnel ou de propriété. Vous
    acceptez en outre que vos commentaires ne contiennent aucun contenu diffamatoire,
    illégal, abusif ou obscène, ni aucun virus informatique ou autre programme
    malveillant qui pourrait en aucune manière affecter le fonctionnement du Service ou
    de tout site Web associé. Vous ne pouvez pas utiliser une fausse adresse e-mail,
    prétendre être quelqu&#39;un d&#39;autre que vous-même, ou nous induire en erreur, ou
    induire des tiers en erreur quant à l&#39;origine de tout commentaire. Vous êtes seul
    responsable des commentaires que vous faites et de leur exactitude. Nous ne
    prenons aucune responsabilité et n&#39;assumons aucune responsabilité pour les
    commentaires postés par vous-même ou par un tiers.
</p>
<h2>SECTION 10 - INFORMATIONS PERSONNELLES</h2>
<p class="text-justify">
    Votre soumission d&#39;informations personnelles via le site est régie par
    notre politique de confidentialité.
</p>
<h2>SECTION 11 - ERREURS, INEXACTITUDES ET OMISSIONS</h2>
<p class="text-justify">

    Il peut arriver occasionnellement que des informations, des inexactitudes
    ou des omissions concernant la description, les prix, les promotions, les
    offres, les frais d’expédition, les délais de livraison et la disponibilité des
    produits figurent sur notre site ou dans le service. Nous nous réservons
    le droit de corriger toute erreur, inexactitude ou omission, ainsi que de
    modifier ou de mettre à jour les informations, ou d&#39;annuler les
    commandes si des informations du service ou de tout site Web associé
    sont inexactes à tout moment et sans préavis (y compris après que vous
    ayez soumis votre commande). .
</p>
<p class="text-justify">
    Nous déclinons toute obligation de mettre à jour, de modifier ou de
    clarifier les informations du Service ou de tout site Web associé, y
    compris, sans limitation, les informations de tarification, sauf si la loi
    l&#39;exige. Aucune date de mise à jour ou d&#39;actualisation spécifiée appliquée
    au Service ou à un site Web associé ne doit être considérée comme
    indiquant que toutes les informations du Service ou de tout site Web
    associé ont été modifiées ou mises à jour.
</p>
<h2>SECTION 12 - UTILISATIONS INTERDITES</h2>
<p class="text-justify">
    Outre les interdictions énoncées dans les Conditions d&#39;utilisation, il vous
    est interdit d&#39;utiliser le site ou son contenu: à des fins illégales; solliciter
    des tiers pour accomplir ou participer à des actes illégaux; enfreindre
    toute réglementation, règle, loi ou ordonnance locale, internationale,
    fédérale, provinciale ou nationale; enfreindre ou violer nos droits de
    propriété intellectuelle ou les droits de propriété intellectuelle d&#39;autrui;
    harceler, abuser, insulter, blesser, diffamer, calomnier, dénigrer,
    intimider ou discriminer sur la base du sexe, de l&#39;orientation sexuelle, de
    la religion, de l&#39;appartenance ethnique, de la race, de l&#39;âge, de l&#39;origine
    nationale ou d&#39;un handicap; soumettre des informations fausses ou
    trompeuses; télécharger ou transmettre des virus ou tout autre type de
    code malveillant qui sera ou pourra être utilisé de manière à affecter la
    fonctionnalité ou le fonctionnement du Service ou de tout site Web, site
    Web ou Internet associé; collecter ou suivre les informations
    personnelles de tiers; spammer, phishing, pharm, prétexte, araignée,
    ramper ou gratter; à des fins obscènes ou immorales; ou pour interférer
    avec ou contourner les fonctionnalités de sécurité du Service ou de tout
    site Web associé, d&#39;autres sites Web ou d&#39;Internet. Nous nous réservons
    le droit de mettre fin à votre utilisation du service ou de tout site Web
    associé pour violation des utilisations interdites.
</p>
<h2>
    ARTICLE 13 - EXCLUSION DE GARANTIES; LIMITATION DE RESPONSABILITÉ
</h2>
<p class="text-justify">
    Nous ne garantissons pas, ne représentons pas et garantissons que
    votre utilisation de notre service sera ininterrompue, rapide, sécurisée ou
    sans erreur.
</p>
<p class="text-justify">
    Nous ne garantissons pas que les résultats pouvant être obtenus à partir
    de l&#39;utilisation du service seront exacts ou fiables.
    Vous acceptez que de temps en temps, nous puissions supprimer le
    service pour une durée indéterminée ou annuler le service à tout
    moment, sans préavis.
</p>
<p class="text-justify">
    Vous acceptez expressément que votre utilisation ou votre incapacité à
    utiliser le service est à vos risques et périls. Le service et tous les
    produits et services qui vous sont livrés par le biais du service sont (sauf
    indication expresse de notre part) fournis &quot;tels quels&quot; et &quot;dans la mesure
    de leur disponibilité&quot;, sans aucune déclaration, garantie ou condition de
    quelque nature que ce soit, expresse ou préalable. Implicite, y compris
    toutes les garanties ou conditions implicites de qualité marchande, de
    qualité marchande, d&#39;adéquation à un usage particulier, de durabilité, de
    titre et d&#39;absence de contrefaçon.
</p>
<p class="text-justify">
    En aucun cas, o2 programmation, nos administrateurs, dirigeants,
    employés, sociétés affiliées, agents, donneurs d&#39;ordre, sous-traitants,
    fournisseurs, prestataires de services ou concédants de licence ne
    sauraient être tenus responsables des dommages, pertes, réclamations
    ou autres conséquences directes, indirectes, accessoires, punitives,
    spéciales, etc. ou des dommages indirects de toute nature, y compris,
    sans limitation, manque à gagner, pertes de revenus, économies, pertes
    de données, coûts de remplacement ou tout autre dommage similaire,
    qu’il soit fondé sur un contrat, un délit (y compris la négligence), une
    responsabilité sans faute ou autre, résultant votre utilisation du service
    ou des produits achetés à l&#39;aide du service, ou pour toute autre
    réclamation liée de quelque manière que ce soit à votre utilisation du
    service ou de tout produit, y compris, sans limitation, toute erreur ou
    omission dans tout contenu, ou toute perte ou tout dommage de quelque
    nature que ce soit résultant de l&#39;utilisation du service ou de tout contenu
    (ou produit) publié, transmis ou autrement mis à disposition par le biais
    du service, même si cette possibilité a été communiquée. Étant donné
    que certains États ou juridictions n&#39;autorisent pas l&#39;exclusion ou la
    limitation de responsabilité pour des dommages indirects ou
    accessoires, dans ces États ou juridictions, notre responsabilité est
    limitée dans les limites maximales autorisées par la loi.
</p>
<h2>SECTION 14 – INDEMNISATION</h2>
<p class="text-justify">
    Vous acceptez d’indemniser, de défendre et de tenir indemnes o2
    programmation et notre société mère, filiales, sociétés affiliées,
    partenaires, dirigeants, administrateurs, mandataires, mandataires,
    donneurs de licence, prestataires de services, sous-traitants,
    fournisseurs, stagiaires et employés, à l’abri de toute réclamation, y
    compris des honoraires d&#39;avocat raisonnables, facturés par un tiers en
    raison ou résultant de votre violation des présentes conditions
    d&#39;utilisation ou des documents qu&#39;ils incorporent par référence, ou de
    votre violation de toute loi ou des droits d&#39;un tiers.
</p>
<h2>SECTION 15 – DIVISIBILITÉ</h2>
<p class="text-justify">
    Dans le cas où une disposition de ces Conditions d&#39;utilisation est jugée
    illégale, nulle ou inexécutable, cette disposition sera néanmoins
    exécutoire dans toute la mesure permise par la loi en vigueur, et la partie
    inapplicable sera réputée être séparée des présentes Conditions
    générales. Signification, cette détermination n’affectera pas la validité et
    la force exécutoire des autres dispositions restantes.
</p>
<h2>SECTION 16 – RÉSILIATION</h2>
<p class="text-justify">
    Les obligations et les responsabilités des parties contractées avant la
    date de résiliation survivront à la résiliation du présent contrat à toutes
    fins utiles.
</p>
<p class="text-justify">
    Les présentes conditions d&#39;utilisation sont en vigueur jusqu&#39;à leur
    résiliation par vous ou par nous. Vous pouvez résilier les présentes
    conditions d&#39;utilisation à tout moment en nous avisant que vous ne
    souhaitez plus utiliser nos services ou lorsque vous cessez d&#39;utiliser
    notre site.
</p>
<p class="text-justify">
    Si à notre seul jugement vous échouez, ou si nous soupçonnons que
    vous avez omis de respecter toute condition ou disposition de ces
    Conditions d&#39;utilisation, nous pouvons également mettre fin à cet accord
    à tout moment sans préavis et vous serez responsable de tous les
    montants dus. Jusqu’à et y compris la date de résiliation; et / ou en
    conséquence peuvent vous refuser l&#39;accès à nos Services (ou à une
    partie de ceux-ci).
</p>
<h2>SECTION 17 - INTÉGRALITÉ DE L&#39;ENTENTE</h2>
<p class="text-justify">
    Notre incapacité à exercer ou à appliquer tout droit ou toute disposition
    de ces Conditions d&#39;utilisation ne constitue en aucun cas une
    renonciation à ce droit ou à cette disposition.
</p>
