<a href="{{ path('administration_settings_list') }}" data-toggle="tooltip" data-placement="left"
   title="{{ 'action.settings.list.title' | trans }}" class="btn btn-outline-primary">
    <span class="fas fa-users"></span>
    <span class="sr-only">{{ 'action.user.list.text' | trans }}</span>
</a>
