// customize some Bootstrap variables
//$primary: #f07d00;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

label.required {
  font-weight: bold;
  color: $primary;
}
label.required:after{
  content: "*";
  color: $primary;
}

.font-large{
  font-size: x-large;
}
.font-small{
  font-size: x-small;
}

.form-check-inline .form-check:first-child {
  margin-left: 0;
  padding-left: 0;
}
#form-address-tab fieldset.form-group {
  margin-bottom: 0;
}

